.Dashboard-Container{
    display: flex;
   
}
.values-container{
    width: 100%;
    background-color: #202430;
}
.applied-jobs{
  color: wheat;
  /* background-color: aliceblue; */
 
    margin: 20px;
    padding: 10px;
    border: 1.5px solid rgb(138, 128, 128);
    height: 85vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.application-tracker{
  overflow: scroll;
  scroll-behavior:smooth;
  scrollbar-width: none;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* height: 90%; */
}


.application {
  border-radius: 5px;
  border: 2px solid gray;
  display: flex;
  width: 90%;
  margin:auto;
  padding: 10px;
  justify-content:space-between;
  
}
.application button{
  font-weight: 500;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(41, 70, 232);
  align-self: flex-end;
  color: rgb(235, 235, 235);
}
 .application-element{
  display: flex;
  width: 30%;
 }
 .status p{
  color: #202430;
  background-color: rgb(37, 202, 25);
  padding: 2px 5px;
  border-radius: 10px;
 }
.application-label{
 font-size: large;
 font-weight: 500;
  display: flex;
  width: 90%;
  margin:auto;
  padding: 10px;
  justify-content:space-between;
}
.status {
  font-weight: bold;
}


