.job-posted-container{
    display: flex;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
}




.job-posted{
    /* background-color: antiquewhite; */
    margin: 10px;
    border-radius: 5px ;
    border:2px solid gray;
    overflow: scroll;
    scrollbar-width: none;
    max-height: 650px;
    width: 100%;
}
.job-item{
    border-radius: 5px;
    border: 2px solid gray;
    /* background-color: aqua; */
    margin: 10px;
    /* width: 40%; */
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.job-item p{
    font-weight: 100;
    font-size: small;
    margin: 5px;
}

.job-item button{
    justify-content: center;
    display: flex;
    width: 100px;
    height: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px;
    /* align-self:flex-end; */
    right: 0;
    bottom: 0;

}
.job-item h5{
    width: 30%;
}
.button-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}