.education-details-containers{
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.education1-container ,.education2-container{
    display: flex;
    gap: 25px;
}

