
 .post-job-container{
    display: flex;
    flex-direction: column;
    /* background-color: #6c7b6d; */
    align-items: center;
    padding: 20px;
 }
  
 .post-job-form {
    border: 2px solid gray;
    padding: 10px;
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap; 
    /* Allow items to wrap to the next line */
    border-radius: 5px;
    border: 2px solid gray;
    width: 70%;
  }

 .post-job-form label {
    color:wheat;
    display: flex;
    flex-direction: column;
    width: 40%; /* Each label takes up half of the row */
    box-sizing: border-box; /* Include padding and border in the width */
  }
 .post-job-form input,select,textarea{
    /* width: 250px; */
    background-color: rgb(79, 67, 67);
    border: none;
    height: 30px;
    border-radius: 5px ;
    padding: 5px;
    color: wheat;
 }
 .post-job-form textarea{
    height: 100px;
 }

  .post-job-form button{
    font-weight: 500;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(41, 70, 232);
    /* align-self: flex-end; */
    color: rgb(235, 235, 235);
    width: 150px;
  }
 
  
 
  