.footer {
  
    background-color: #333; 
    color: #fff; 
    padding: 50px 20px;
    justify-content: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: aqua; */
  }
  
  .footer-section {
    /* background-color: red; */
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
   .about{
    text-align: center;
/* background-color: pink; */
  }
  
  .footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
    color: #ccc;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8rem;
  }
  .contact{
    /* background-color: yellow; */
    text-align: center;

  }
  .links{
    text-align: center;
    /* background-color: green; */
  }