.BrowseCompanies{
    display: flex;
}
.BrowseCompanies-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #202430;
    max-height: 100vh;

}
    .browse-companies-container{
        color: wheat;
        display: flex;
        justify-content: space-evenly;
        height: 90vh;
            /* background-color: red; */

    }
    .company-list{
        /* background-color: aliceblue; */
        scrollbar-width: none;
        border-radius: 5px ;
        overflow: auto;
         border: 2px solid gray;
         padding: 10px;
         margin: 10px;
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 10px;
        max-height: 90vh;

    }
   .company-card{
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* background-color: #3b3f4b; */
    border: 2px solid wheat;
    width: 100%;
    text-align: center;
    cursor: pointer;
   }
   .company-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #202430;
    max-height: 100vh;   

   }
   .company-description{
    text-align: center;
    scrollbar-width: none;
    border-radius: 5px ;
    overflow: auto;
     border: 2px solid gray;
     /* padding: 10px; */
     margin: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    height: 90vh;
   }
   .job-provider-container{
    color: wheat;
   }
   .BopeningJobs{
    /* border: 2px solid gray; */
    border-radius: 5px;
    /* background-color: red; */
    scrollbar-width: none;
    overflow: scroll;
   }
   
   .Bjob-posted{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   }
   .Bjob-item{
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #202430;
    margin: 5px;
   }